

@media only screen and (max-width: 1024px) {
    .miBody {
        background-color: white;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "tituloUno"
            "papaMaternidad infoLactancia"
            "miFooter mifooter";
    }
}

@media only screen and (max-width: 780px) {
    .miBody {
        background-color: white;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "tituloUno"
            "papaMaternidad infoLactancia"
            "miFooter mifooter";
    }
}
