footer {
  background:rgb(232, 208, 179);
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: rgb(126, 181, 166);
  font-weight: bold;

 }

.footerContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
 
.tituloFooter {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: rgb(195, 104, 57);
  letter-spacing: 2px;
}
  .parrafoFooter {
max-width: 500px;
margin:10px auto;
line-height: 30px;
font-size: 15px;

}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .4s ease;
  margin-top: 10px;

  li {
margin:0 10px;

a {
  color:rgb(134, 52, 10);

  i {
    font-size: 3rem;
  }
}
  }
}

.socials a:hover i {
  color:rgb(195, 104, 57);
}

