
.error {
    width: 500x;
    text-align: center;
padding: 10%;
}
    
h1 {
        color:rgb(134, 52, 10);
        font-size: 2.5rem;
        font-weight: bolder;
        text-align: center; 
        }
h2 {
        color: rgb(195, 104, 57);
        font-size: 2rem;
        text-align: center;   
        }

 a {
     text-decoration: none;
     color:rgb(126, 181, 166);
     text-align: center;
     font-size: 2rem;
 }       
    